<nb-tabset>
  <!-- Primer Tab: Bulletin QA -->
  <nb-tab tabTitle="Boletines Activos">
    <div class="button-container">
      <button *ngIf="userRoles.includes('BulletinQA')" class="btn btn-primary" (click)="exportToExcel(sourceTab, 'Boletines Activos')"> Descargar Excel</button>
    </div>
    <div class="table-container" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
      <div class="table-wrapper">
      </div>
      <ng2-smart-table [settings]="BulletinQA" [source]="sourceTab" class="Tabla"></ng2-smart-table>
    </div>
  </nb-tab>

  <!-- Segundo Tab: Boletines Vencidos -->
  <nb-tab tabTitle="Boletines expirados">
    <div class="button-container">
      <button *ngIf="userRoles.includes('BulletinQA')" class="btn btn-primary" (click)="exportToExcel(sourceTabVencidos, 'Boletines Vencidos')"> Descargar Excel</button>
    </div>
    <div class="table-container" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
      <div class="table-wrapper">
      </div>
      <ng2-smart-table [settings]="BulletinQA"[source]="sourceTabVencidos" class="Tabla"></ng2-smart-table>
    </div>
  </nb-tab>
</nb-tabset>

<!-- Fondo oscuro con transparencia -->
<div *ngIf="mostrarDetalle" class="overlay" (click)="cerrarFormulario()" ></div>

<!-- Formulario con fondo blanco y bordes redondeados, encima de la tabla -->
<nb-card *ngIf="mostrarDetalle" class="detalle-card">
  <h2>Detalles del Boletín</h2>
  
  <form [formGroup]="detallesForm">
    <div class="textarea-group">
      <div class="form-group">
        <label for="description">Descripción</label>
        <textarea id="description" formControlName="description" class="form-control" #descriptionTextarea (input)="autoResize(descriptionTextarea)"></textarea>
      </div>
      <div class="row-group">
        <div class="form-group">
          <label for="action">Acciones</label>
          <textarea id="action" formControlName="action" class="form-control" #actionTextarea (input)="autoResize(actionTextarea)"></textarea>
        </div>
        <div class="form-group">
          <label for="reworkDetails">Detalles del Retrabajo</label>
          <textarea id="reworkDetails" formControlName="reworkDetails" class="form-control" #reworkDetails (input)="autoResize(reworkDetails)"></textarea>
        </div>
      </div>
    </div>


    <div class="photos-section" *ngIf="detallesForm.get('qualityPhotos')?.value?.length">
      <h3>Fotos de Aceptacion</h3>
      <div class="photo-grid">
        <img  *ngFor="let photo of detallesForm.get('qualityPhotos')?.value" [src]="'data:image/jpeg;base64,' + photo"  class="preview-img"alt="Foto de calidad"/>
      </div>
    </div>
    <div class="photos-section" *ngIf="detallesForm.get('defectPhotos')?.value?.length">
      <h3 >Fotos de Defecto</h3>
      <div class="photo-grid">
        <img *ngFor="let photo of detallesForm.get('defectPhotos')?.value" [src]="'data:image/jpeg;base64,' + photo"  class="preview-img"alt="Foto de defecto" />
      </div>
    </div>   
  </form>
    <button nbButton status="danger" (click)="cerrarFormulario()" class="close-button">Cerrar</button>
</nb-card>
