@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
@include nb-theme-global();
};

input[_ngcontent-hco-c306] {
  padding: 12px !important;
  pointer-events: all !important;
  border: 1px solid #ccc !important;
  border-radius: 6px !important;
  font-size: 16px !important;
  width: 100% !important;
  transition: border-color 0.3s ease, box-shadow 0.3s ease !important;
  max-width: 100% !important;
}


.nb-theme-corporate nb-tabset .tab.active .tab-link::before {
    background: linear-gradient(145deg, #20a0c0d5, #15c41ea4)
  }

/* Estilo para el tab activo */
.nb-theme-corporate nb-tabset .tab.active .tab-link {
    background-image: linear-gradient(145deg, #20a0c0d5, #15c41ea4);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    letter-spacing: 3px;
  }

  .nb-theme-corporate nb-tabset nb-tab {
    background-color: transparent;
    color: #222b45;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding: 0 10px 10px 10px;
}

  .nb-theme-corporate p, .nb-theme-corporate .paragraph {
    color: #000;
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin: 10px;
    text-align: justify;
}
.nb-theme-corporate ng2-smart-table table tr th, .nb-theme-corporate ng2-smart-table table tr th a {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.25rem;
  color: #c90000;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-align: center;
}

.nb-theme-corporate ng2-smart-table thead tr.ng2-smart-filters th .ng2-smart-filter input{
  font-weight: bold;
  font-size: 11.75px;
  letter-spacing: 1.1px;
  padding: .375em .75em;
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 5px;
  text-align: center;
  color: black;
}

.nb-theme-corporate ng2-smart-table table tr td {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.25rem;
  color: #000;
  letter-spacing: 1.05px;
  text-align: center;
  text-transform: capitalize;
}

.nb-theme-corporate ng2-smart-table table tr th, .nb-theme-corporate ng2-smart-table table tr td {
  position: relative;
  padding: 5px;
  border: 1px dashed #dbdbdb;
  vertical-align: middle;
}

.nb-theme-corporate ng2-smart-table tbody tr.selected, .nb-theme-corporate ng2-smart-table tbody tr:hover {
  background: linear-gradient(145deg, #20a0c052, #15c41e4f) !important;
}
.nb-theme-corporate ng2-smart-table table tr.ng2-smart-titles th {
  padding: 10px 5px;
}
[dir=ltr] .nb-theme-corporate ng2-smart-table table tr.ng2-smart-titles th {
  padding-right: 5px;
}


.nb-theme-corporate ng2-smart-table table tr td:has(div:inProduction("Retirado")) {
  color: #f00 !important;
}

.custom-toast-title {
  color: #ffcc00 !important;
  font-weight: bold;
  font-size: 16px;
}


.nb-theme-corporate nb-layout .layout {
    background-color: #edf1f7;
    color: #222b45;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    min-height: 0;
}
.nb-theme-corporate nb-card-body {
    flex: 1;
    overflow: auto;
    padding: 1rem 1.5rem;
    position: relative;
}
[_nghost-ehd-c96] {
    display: flex;
    flex-direction: column;
    height: 100% !important;
}
.nb-theme-corporate nb-card {
    background-color: #ffffff;
    border: 1px solid #e4e9f2;
    border-radius: 12px;
    box-shadow: none;
    color: #222b45;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin-bottom: 1.875rem;
   height: auto !important; //CHECAR PARA EDITAR ELIMINAR
}

.nb-theme-corporate [nbButton].size-medium, .nb-theme-corporate .size-medium[nbButtonToggle] {
    font-size: 0.875rem;
    line-height: 1rem;
}